.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.buttons button {
width: 150px;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 15%;
    gap: 15px;
}
